about-time==4.2.1
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alive-progress==3.1.5
annotated-types==0.7.0
archspec @ file:///croot/archspec_1697725767277/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs @ file:///croot/attrs_1695717823297/work
autograd==1.7.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
blessed==1.20.0
boltons 
Bottleneck 
Brotli 
certifi 
cffi
chardet 
charset-normalizer 
click 
cma==3.2.2
conda 
conda-build
conda-content-trust
conda-libmamba-solver 
conda-package-handling
conda_index 
conda_package_streaming
contourpy==1.3.0
cryptography 
cycler==0.12.1
datasets 
decorator 
Deprecated==1.2.14
dgl==2.4.0+cu121
dill 
distro 
dnspython==2.6.1
exceptiongroup 
executing 
expecttest==0.2.1
filelock
fonttools==4.54.1
frozenlist 
fsspec==2024.2.0
gmpy2 
gpustat==1.1.1
grapheme==0.6.0
gvar==13.1.1
huggingface_hub 
hypothesis==6.98.10
idna 
ipython
jedi
Jinja2 
joblib==1.4.2
jsonpatch
jsonpointer==2.1
jsonschema 
jsonschema-specifications
kiwisolver==1.4.7
libarchive-c 
libmambapy 
MarkupSafe 
matplotlib==3.9.2
matplotlib-inline 
menuinst 
mkl-fft 
mkl-random 
mkl-service==2.4.0
more-itertools 
mpmath 
multidict 
multiprocess 
networkx 
numexpr 
numpy
nvidia-ml-py==12.570.86
optree==0.10.0
packaging 
pandas 
parso 
pexpect
pillow 
pkginfo 
platformdirs
pluggy 
prompt-toolkit
propcache 
psutil 
ptyprocess st/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval 
pyarrow 
pycosat 
pycparser 
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
pymoo==0.6.1.3
pyOpenSSL 
pyparsing==3.2.0
PySocks 
python-dateutil 
python-etcd==0.4.5
pytz
PyYAML 
referencing 
regex 
requests 
rpds-py 
ruamel.yaml
ruamel.yaml.clib 
safetensors 
scikit-learn==1.5.2
scipy==1.14.1
six 
sortedcontainers==2.4.0
soupsieve
stack-data
sympy 
threadpoolctl==3.5.0
tokenizers 
tomli 
toolz 
torch==2.2.1
torchaudio==2.2.1
torchelastic==0.2.2
torchvision==0.17.1
tqdm 
traitlets 
transformers 
triton==2.2.0
truststore
types-dataclasses==0.6.6
typing_extensions
tzdata 
urllib3 
vegas==6.1.3
wcwidth 
wrapt==1.16.0
xxhash
yarl 
zstandard 
